
:root {
    --white: #ffffff;
    --indigo: #969499;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block; }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    text-align: left;
    background-color: #fff; }
    @media (max-width: 600px) {
      .element {
        display: inline-block;
        width: 100%;
      }
    }
  [tabindex="-1"]:focus {
    outline: 0 !important; }
  
  hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible; }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem; }
  
  p {
    margin-top: 0;
    margin-bottom: 0.7rem; }
  
  abbr[title],
  abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    text-decoration-skip-ink: none; }
  
  address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit; }
  
  ol,
  ul,
  dl {
    margin-top: 0;
    margin-bottom: 1rem; }
  
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0; }
  
  dt {
    font-weight: 700; }
  
  dd {
    margin-bottom: .5rem;
    margin-left: 0; }
  
  blockquote {
    margin: 0 0 0.7rem; }
  
  b,
  strong {
    font-weight: bolder; }
  
  small {
    font-size: 80%; }
  
  sub,
  sup {
    position: relative;
    font-size: 70%;
    line-height: 0;
    vertical-align: baseline; }
  
  sub {
    bottom: -.25em; }
  
  sup {
    top: -.5em; }
  
  a {
    color: #fff;
    text-decoration: none;
    background-color: transparent; }
    a:hover {
      color: #0056b3;
      text-decoration: none; }
  
  a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none; }
    a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
      color: inherit;
      text-decoration: none; }
    a:not([href]):not([tabindex]):focus {
      outline: 0; }
  
  pre,
  code,
  kbd,
  samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.7em; }
  
  pre {
    margin-top: 0;
    margin-bottom: 0.7rem;
    overflow: auto; }
  
  figure {
    margin: 0 0 0.7rem; }



    <!-- --------------------------------------------------------Not Allowed Up area ------------------------------------------












body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif;
    }
.w3-bar-block .w3-bar-item {padding:10px;
    }

.color-gray { 
    background-color: rgb(224, 224, 224);

}
.side-by {
    color: rgb(241, 28, 28);
    -webkit-text-fill-color: rgb(241, 28, 28) ;
    position: relative; 
    left: 70%;
}

.top-header {
  background-color: rgb(167, 173, 173);
  padding-bottom: 1rem;
}


.list {
    position: relative;
    left: 10%;
    top: -2.4rem;
    padding-top: -10rem;
    padding-bottom: 0.5rem;
    padding-left: 0.2rem;
    text-align: 0.3rem;
    background-color: rgb(167, 173, 173) ;
    border: #343a40;
}

a.list-item-newsfeed::after
{
    content: "News Feed";
    padding: 0 0.5rem 0.1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 16px;
}
a.list-item-chat::after
{
    content: "Chat";
    padding: 0 0.5rem 0.1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 16px;
}
a.list-item-photo::after
{
    content: "Photos";
    padding: 0 0.5rem 0.1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 16px;
}
a.list-item-video::after
{
    content: "Watch";
    padding: 0 0.5rem 0.1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 16px;
}
a.list-item-friend::after
{
    content: "Friend";
    padding: 0 0.5rem 0.1rem;
    font-size: 16px;
}


a.list-item-prof::after
{
    content: "";
    padding: 0 0.5rem 0.1rem;
    font-size: 16px;
}

a.list-item-logout::after
{
    content: "Logout";
    font-size: 16px;
}


a.list-item-settings::after
{
    content: "Setting";
    font-size: 16px;
}


a.list-item-changepassword::after
{
    content: "Change Password";
    font-size: 15px;
}


a.list-item-profile::after
{
    content: "Profile";
    font-size: 16px;
}





  .list-item::after {
    color: rgb(21, 21, 22);
  }

  .icon-font {
    font-size: 14px;
    width: 2rem;
    height: 2rem;
    color:rgb(48, 35, 236);
}

.icon-font-prof {
  font-size: 16px;
  width: 2.5rem;
  height: 2.5rem;
  border: #fff groove;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  color:rgb(48, 35, 236);
}


  .icon-fonts {
    font-size: 21px;
    width: 3%;
    height: 3%;
    color:rgb(48, 35, 236);
    border-radius: 0rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    
    padding: 0 1.5rem 0.1rem;
    font-size: 14px;
}

.icon-font-side {
    font-size: 12px;
    width: 15%;
    height: 15%;
    color:rgb(48, 35, 236);
}


.icon-font-search {
  font-size: 12px;
  width: 15%;
  height: 15%;
  color:rgb(48, 35, 236);
}


p.text-post {
    padding: 3%;
    margin-left: 7%;
    background: rgb(236, 236, 236);
}



.online {
  font-size: 10px;  
  margin: 0px; 
  top: -8px;
  position: relative;  
  color: green;
}

.offline {
  font-size: 10px;  
  margin: 0px; 
  top: -8px;
  position: relative;  
  color: rgb(199, 2, 2);
}


.input-box-status {
  position: relative;

  width: 40%;
  height: 3rem;
  border: none;
  opacity: 85%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.input-box-status::hover {
  position: relative;

  width: 40%;
  height: 3rem;
  opacity: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: #05f739f5 greenyellow;
}




.title-name
  {
      padding: 0 0.7rem 0.2rem;
      border-top-left-radius: 2.7rem;
      border-bottom-right-radius: 2.7rem;
  }

  
.title-name:hover {
    background: #48723f41;
    color:#fff;
  }


b.c-w::after {
    content: "W";
    -webkit-text-fill-color:blue;
}
b.c-h::after {
    content: "h";
    -webkit-text-fill-color :cornflowerblue;
}
b.c-a::after {
    content: "a";
    -webkit-text-fill-color :gold;
}
b.co-t::after {
    content: "t";
    -webkit-text-fill-color:rgba(176, 23, 241, 0.966);
}
b.c-s::after {
    content: "S";
    -webkit-text-fill-color:cyan;
}
b.c-o::after {
    content: "o";
    -webkit-text-fill-color:darkorange;
}
b.c-f::after {
    content: "f";
    -webkit-text-fill-color:red;
}
b.c-t::after {
    content: "t";
    -webkit-text-fill-color:rgb(4, 114, 4);
}