.searchbtnLike{
  margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;

}


.searchbtnLike:hover{
  background: var(--orange);
  color:#fff;
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.tcolumn {
  float: left;
  position:relative;
  font-size: 1.0rem;
  margin-top: 1%;
  right: -10rem;
  width: 14%;
  padding: 5px;
  height: 40px; /* Should be removed. Only for demonstration */
  background-color:rgba(245, 233, 233, 0.836);
}

.column {
  float: left;
  position:relative;
  border: .0rem solid var(--black);
  margin-top: -0.5%;
  right: -9rem;
  width: 14.3%;
  padding: 15px;
  height: 70px; /* Should be removed. Only for demonstration */
  background-color:rgb(248, 247, 247);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  
  display: inline-block;
  border: .0rem solid var(--black);
  display: table;
  clear: both;
}

.rowcol:after {
  content: "";
  border: .0rem solid var(--black);
  margin-top: 1rem;
  display: inline-block;
  padding:.8rem 3rem;
  display: table;
  clear: both;
  font-size: 1.7rem;
}

