
<!DOCTYPE html>
<html lang="en">

<!-- /home.html  29 Aug 2022 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title  name="title">Home Page</title>
    <meta name="keywords" content="Application Store, download, installed">
    <meta name="description" content="Home Game Movie Type ">
    <meta name="author" content="p-themes">
    <meta name="apple-mobile-web-app-title" content="Home Game">
    <meta name="application-name" content="Home game">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->
    {% load static %}
    <!--
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <!-- custom css file link  -->
    {% load static %}
    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

</head>

<body>
    

<!-- ----------------------------------------------- Body Era -------------------------------- -->

    {% include "Tab_Page/newsfeed.html" %} 
    <!-- /home.html  22 Aug 2022 10:04:03 GMT -->

    {% block content %}
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% endblock %}


</body>
          <!-- custom js file link  -->
        {% load static %}
          <script src="{% static 'js/Nav.js' %}"></script>
</html>