
<!DOCTYPE html>
<html lang="en">

<!-- /changepassword.html  29 Aug 2022 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title  name="title">ChangePassword Page</title>
    <meta name="keywords" content="Application Store, download, installed">
    <meta name="description" content="Home Game Movie Type ">
    <meta name="author" content="p-themes">
    <meta name="apple-mobile-web-app-title" content="Home Game">
    <meta name="application-name" content="Home game">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->
    {% load static %}
    <!--
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- custom css file link  -->
    {% load static %}
    
    
    <!-- custom css file link  -->
    <!--<link rel="stylesheet" href="{% static 'css/main.css' %}">  -->
    <link rel="stylesheet" href="{% static 'css/w3-box-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tab-layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/photoUpload.css' %}">

    <link rel="stylesheet" href="{% static 'css/imageView.css' %}">
    <link rel="stylesheet" href="{% static 'css/logInStyle.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
   
</head>

<body>
    {% include "header.html" %} 
  {% block content %}
  {% if user.is_authenticated %}
  
</br> </br> </br> 
    <div class=" w3-content  title-login-head" >
        <b class="title-logIn"><img class="icon-font" src="{{BASE_DIR}}/media/icons/changepassword.png"  />Change Password</b>
       
             
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} style="color: green;" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
    </div> 
    <div class=" w3-content area-logIn">
        <form action="{% url 'changePassword' %}" method="post"  enctype="multipart/form-data">
        
        <div class="col">
            <label class="w3-opacity">Email* </label>
            <p><input type="email" id="input_email"  name="input_email" readonly value="{{user.email}}" class="input-box" title="Enter Your Email here" placeholder="abc123@example.com" required ></input><img class="icon-font" style="position: relative; left: -1rem;" src="{{BASE_DIR}}/media/icons/email.png"  /> </p>
        </div>
        <div class="col">
            <label class="w3-opacity">New Password* </label>
        <p><input type="password" id="input_password"  name="input_password" value="" class="input-box" title="Create New Password" placeholder="Create Password" required ><img class="icon-font" style="position: relative; left: -1rem;" src="{{BASE_DIR}}/media/icons/password.png"  /></input> </p>
        </div>
    
        
            <div class="col">
                <label class="w3-opacity">New Password* </label>
            <p><input type="password" id="input_NewPassword"  name="input_NewPassword" class="input-box" title="Create New Password" placeholder="Create Password" required ><img class="icon-font" style="position: relative; left: -1rem;" src="{{BASE_DIR}}/media/icons/password.png"  /></input> </p>
            </div>
        
            <div class="col">
                <label class="w3-opacity">Confirm Password* </label>
            <p><input type="password" id="input_ConfirmPassword"  name="input_ConfirmPassword" class="input-box" title="Create Confirm Password" placeholder="Confirm Password" required ></input> </p>
            </div>
            
        
            <div class="col">
                <button class="loginme" type="submit">Save</button>
            </div>
    </form>
    </div> 
    <div class="w3-xlarge">
    </br>
    </div>



    {% endif %}
    {% endblock %}


</body>
</html>